doctype html
html(lang='zh' ng-app='nodeWeb')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/public/javascripts/angular.min.js')
    script(src='/public/javascripts/angular-resource.min.js')
    script(src='/public/javascripts/angular-route.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/public/javascripts/app.js')
    script(src='/public/javascripts/controllers.js')
    script(src='/public/javascripts/services.js')
  body
    block content